<% if edition.can_create_new_edition? && (edition.class == edition_class) %>
  <p>Create as new</p>
  <form method="post" action="<%= duplicate_edition_path(@resource, from: edition_class.to_s)%>"  >
    <%= select_tag :to, options_for_select(to_classes.map { |c| [c.model_name.titleize, c.to_s] })%>
    <br><br>
    <input type="submit" value="Convert">
  </form>
<% end %>
